.exchange-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-top: 15%;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.exchange-form-container p {
  margin: 0;
}

.exchange-form-section {
  margin-top: -10px;
}

.exchange-form-section p {
  margin: 0;
  font-size: 24px;
}

.exchange-form-inputs-container {
  display: flex;
  justify-content: space-evenly;
}

.exchange-form-button {
  cursor: pointer;
  width: 50%;
  height: 30px;
  margin: auto;
  margin-top: 10px;
  border: 1px solid #58b4ae;
  border-radius: 2px;
  background-color: #58b4ae;
  color: white;
}
